.kakao_search_category {
    margin: 10px;
}

.before_initializing {
    /* visibility: hidden; 보이진 않지만 공간을 차지함  */
    display: none;
}

.kakao_menu_select {
    margin: 10px;
}

.kakao_util_img {
    margin-right: 5px;
    width: 50px;
    height: 20px;
}

.kakao_input {
    width: 700px;
    margin: 10px;
}

.kakao_result_table {
    margin-top: 50px;
    border: 1px solid grey;
    text-align: center;
}
 
th {
    border-bottom: 2px solid grey;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px dotted grey;
}